<html>
    <script type="text/javascript" src="/javascripts/game.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.2.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            var user_data = JSON.parse(sessionStorage.getItem("user_data"));

            /*console.log("USER DATA: "+JSON.stringify(user_data));
            console.log("main_stack: "+user_data.main_stack);
            sessionStorage.setItem("main_stack", JSON.stringify(user_data.main_stack)); // sessionStorage.main_stack -> String
            sessionStorage.setItem("spade_stack", JSON.stringify(user_data.spade_stack)); // sessionStorage.spade_stack -> String
            sessionStorage.setItem("heart_stack", JSON.stringify(user_data.heart_stack)); // sessionStorage.heart_stack -> String
            sessionStorage.setItem("club_stack", JSON.stringify(user_data.club_stack)); // sessionStorage.club_stack -> String
            sessionStorage.setItem("diamond_stack", JSON.stringify(user_data.diamond_stack)); // sessionStorage.diamond_stack -> String
            */
            $("#greeting").html("Current user: "+user_data.username);
            setMainStackTop();
            //console.log(user_data);
        });
    </script>
    <head>
        <title>SortIt!</title>
    </head>
    <body>
        <table height="100%" width="100%" border=1>
            <tr height="10%">
                <td id="greeting" width="30%">Placeholder</td>
                <td width="70%" align="right" colspan="3">
                    <button onclick="logout()" align="right">Logout</button>
                </td>
            </tr>
            <tr height="55%">
                <td colspan="4">
                    <table align="center">
                        <tr>
                            <td id="card_suit">
                                Card Suit
                            </td>
                        </tr>
                        <tr>
                            <td id="card_image">
                                Suit Image
                            </td>
                        </tr>
                        <tr>
                            <td id="card_value">
                                Card Value
                            </td>
                        </tr>
                    </table>
                    <!-- To be used for "scattered" cards...
                         <div id="cards" style="margin: 0 auto; width: 100%; max-height: 95%; overflow: scroll;">

                    </div>-->
                </td>
            </tr>
            <tr height="35%">
                <td width="25%" onclick="checkCard('Spades')">
                    <div id="Spades_stack" align="center">
                        Spades: 
                    </div>
                </td>
                <td width="25%" onclick="checkCard('Hearts')">
                    <div id="Hearts_stack" align="center">
                        Hearts: 
                    </div>
                </td>
                <td width="25%" onclick="checkCard('Clubs')">
                    <div id="Clubs_stack" align="center">
                        Clubs: 
                    </div>
                </td>
                <td width="25%" onclick="checkCard('Diamonds')">
                    <div id="Diamonds_stack" align="center">
                        Diamonds: 
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>