<html>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.2.0.min.js"></script>
    <head>
        <title>SortIt!</title>
    </head>
    <body>
        <table height="100%" width="100%">
            <tr>
                <td>
                    <center>
                        <table border=0>
                            <tr>
                                <td>
                                    <center>Welcome to SortIt: Cards!</center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center><input type="text" placeholder="Username" id="username"/></center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center><button onclick="loginApp()">Login</button></center>
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
        </table>
    </body>
</html>